.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255);
  z-index: 2;
  background-color: #6886aa;
  * > & {
    color: #fff;
  }
  h1 {
    text-align: center;
    margin: 30px 0;
    transform: translateY(20px);
    border-bottom: 1px solid #6886aa;
  }
}
.modal__content {
  @media (min-height: 741px) {
    height: 75%;
  }
  height: 67%;
  overflow-y: scroll;
  &--wellcome {
    padding: 4rem;
    h1 {
      font-size: 8rem;
    }
    h2 {
      text-align: center;
      color: #fedfe4;
      font-size: 3rem;
    }

    p {
      margin-top: 3rem;
      font-weight: 400;
      font-size: 3rem;
      letter-spacing: 0.5px;
      margin-bottom: auto;
    }
    .say {
      font-weight: 600;
      font-size: 3.5rem;
      text-align: center;
      letter-spacing: 1px;
      color: #fedfe4;
      border-bottom: 1px solid #fedfe4;
      margin-top: 4rem;
    }
  }
}
.modal__button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  background-color: #22c35e;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  border-radius: 5px;
  font-weight: bold;
  height: 40px;
  width: 70%;
  span {
    letter-spacing: 0.8px;
    margin-left: 10px;
  }
}
.modal__footer {
  font-size: 2.5rem;
  border-top: 1px solid #6886aa;
  padding: 2rem;
}
.total {
  display: flex;
  justify-content: space-around;
}
.cart-product {
  display: grid;
  width: 85%;
  grid-template-columns: 1fr 65px 20px;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 10px auto;

  img {
    width: 20px;
    height: 20px;
    object-fit: cover;
  }
  strong {
    font-size: 2.5rem;
  }
  p {
    color: #fedfe4;
    font-size: 2.5rem;
    font-weight: bold;
  }
}
.closeModal {
  all: unset;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 3rem;
}
.deletedButton {
  all: unset;
  font-size: 1.8rem;
}
